
.portfolio
	background: $section-color url('../img/portfolio/portfolio-pattern.jpg') repeat-y center left
	background-size: 50%
	&__title
		margin: auto
		margin-bottom: 92px
		margin-top: 33px
		line-height: 45px
		font-size: 30px
		+bold
	&__arrows
		max-width: 120px
		margin: auto
		margin-top: 67px
		display: flex
		justify-content: space-between
		margin-bottom: 33px
.slider
	&__image
	margin: auto
	width: 102%
	height: 102%
	margin-top: 35px
@media (max-width: 768px)
	.slider
		&__image
			margin: auto
@media (max-width: 576px)
	.portfolio
		&__title
			font-size: 18px
			line-height: 1
	
		
		
	
		